/* Base styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 98vw;
    margin: 0 auto;
    background-color: #EAEDF2;

    font-family: 'Poppins', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

:root {
    --color-text: #282B31;
    --color-text-gray: #A6ADB1;
    
    --color-primary: #1750FF;
}

/************************************
Typography
**************************************/
h1 {
    font-size: 3.5rem;
    line-height: 2rem;
    font-weight: 600;

    padding: 3.5rem 1rem;
}

/************************************
Reusable styling
**************************************/

.btn {
    width: 100%;
    padding: 1.5rem 0;
    border: 2px solid var(--color-primary);
    border-radius: 15px;

    text-align: center;
    color: var(--color-text);
    font-size: 1.7rem;
    font-weight: 500;

    transition: all 0.2s;
}

.btn:hover {
    background-color: var(--color-primary);
    color: white;
}

/************************************
Header styling
**************************************/

header {
    width: 100%;
    height: 8rem;
    background-color: white;

    font-size: 1.6rem;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;

    box-shadow: 0 5px 10px rgba(219, 223, 228, 0.8);
}


.navbar {
    max-width: 124rem;
    margin: 0 auto;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 19.2rem;
    height: auto;
}

.nav__list {
    display: flex;
    align-items: center;

    margin: 0 2rem;
}

.nav__item {
    list-style-type: none; 
}

.nav__item:not(:nth-child(3)) {
    margin-right: 4rem;
}

.nav__item a {
    text-decoration: none;
    color: var(--color-text-gray);
    
    display: flex;
    align-items: center;
}

.nav__item a p {
    font-size: 1.6rem;
}

.nav__item:nth-child(1) a {
    color: var(--color-text);
}

.nav__item:last-child {
    display: none;
}


.nav__item a i{
    font-size: 2.4rem;
    margin-right: 1rem;
}




.profile {
    display: flex;
    align-items: center;
}

.profile > img {
    margin: 0 1rem;
}

.points {
    display: flex;
    align-items: center;

    background-color: #DDE1E8;
    border-radius: 15px;

    padding: 5px;
}

.plus-icon {
    margin-right: 2rem;
    width: 3rem;
}

.coin-stack-icon {
    margin-right: 5px;
    width: 2rem;
}

.points p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-text);
    margin-right: 3rem;
}


/************************************
Main frame section styling
**************************************/

.main-frame {
    max-width: 120rem;
    margin: 0 auto;   
}

.main-frame iframe {
    width: 100%;
    height: calc(100vh - (15rem + 6px));
}


/************************************
Main section styling
**************************************/

main {
    max-width: 124rem;
    margin: 8rem auto;
    padding: 2rem 2rem 0 2rem;

    font-size: 1.6rem;
}

.task-grid {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.task__card {
    width: 100%;

    padding: 2rem;
    background-color: white;
    
    border-radius: 15px;

    position: relative;
}

.task__profile {
    display: flex;
    align-items: center;
}

.task__profile img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

.task__profile__info i {
    position: absolute;
    right: 2rem;
    top: 2.5rem;

    font-size: 1.8rem;
    color: var(--color-text-gray);
}

.task__profile__info h2{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;

    margin-bottom: 3px;
}


.task__profile__info p {
    font-size: 1.4rem;
    color: var(--color-text-gray);
}

.task__card__banner {
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

.task__card .btn {
    display: block;
}

.task-dummy {
    width: 100%;
    height: 100%;
}


/************************************
Footer styling
**************************************/

footer {
    width: 100%;
    height: 7rem;
    background-color: white;

    font-size: 1.6rem;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 10;
}

.footer__content {
    max-width: 124rem;
    margin: 0 auto;
    padding: 2.3rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icons i {
    font-size: 2rem;
    color: var(--color-text);

    margin-right: 2rem;
}

.footer__text {
    color: var(--color-text);
}



/************************************
Media queries
**************************************/

@media only screen and (max-width: 929px) {
     .task-grid {
         grid-template-columns: repeat(3, 1fr);
     }
}

@media only screen and (max-width: 830px) {
    .nav__list {
        position: fixed;
        bottom: 0;
        left: 0;

        padding: 2rem 0;
        margin-left: 0;
        background-color: white;
        width: 100vw;
        border-top: 2px solid #EAEDF2;

        display: flex;
        justify-content: space-around;
    }

    footer {
        display: none;
    }
}


@media only screen and (max-width: 699px) {
    .task-grid {
        grid-template-columns: repeat(2, 1fr);      
    }
}


@media only screen and (max-width: 475px) {

    html {
        font-size: 50%;
    }

    main {
        padding: 1rem;
        margin-bottom: 10rem;
    }

    .nav__list {
        padding: 1rem 0;
    }

    .nav__item:last-child {
        display: block;
    }

    .nav__item:nth-child(1n) {
        margin: 0;
    }

    .nav__item a i {
        margin: 0;
        margin-bottom: 5px;
    }

    .nav__item a{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .profile > img, .profile > i {
        display: none;
    }
}

@media only screen and (max-width: 359px) {

    .btn {
        padding: 1rem 0;
    }

    .task-grid {
        grid-gap: 1rem;
    }

    .task__profile__info i {
        display: none;
    }

    .task__profile img {
        width: 4rem;
        height: 4rem;
    }
}

@media only screen and (max-width: 320px) {

    html {
        font-size: 45%;
    }

    .profile {
        display: none;
    }

}

